
@{
    ViewBag.Title = "ResetSucces";
}

<h2>Erreur</h2>

<p>Il y a eu une erreur durant la modification du mot de passe</p>

<p>veuillez reessayer</p>

<div>
    @Html.ActionLink("Connexion", "Login")
</div>

