
@{
    ViewBag.Title = "ResetSucces";
}

<h2>Succes</h2>

<p>Vous avez reinitialiser votre mot de passe avec succes</p>

<p>Vous pouvez maintenant vous connecter</p>

<div>
    @Html.ActionLink("Connexion", "Login")
</div>

