@model MDB.Models.User

@{
    ViewBag.Title = "SubscribeDone";
}

<h2>Inscription reussie</h2>

<hr>
<p>Bonjour @Helper.GenderFinder(Model.GenderId) @Model.LastName,</p>

<p>Votre inscription a ete eregistree.</p>

<p>Vous allez recevoir un courriel qui contiendra le lien vers la confirmation de votre adresse de couriel.</p>

<p>Merci et bonne journee</p>

<p>Webmestre</p>

